// =============================================================================
// V&A Content / Containers
// -----------------------------------------------------------------------------

.quire-contents .quire-page__content .container {
  // padding: 1rem;
  // background-color: $content-background-color;
}

.quire-cover .quire-page__content .container.is-fluid .content,
.quire-splash .quire-page__content .container .content {
  background-color: $content-background-color;
}

strong {
  font-weight: 500 !important;
}

a:focus,
button:focus,
input:focus,
[tabindex='0']:focus {
  -webkit-box-shadow:
    0 0 0 3px #fff,
    0 0 0 6px #1d1e20;
  box-shadow:
    0 0 0 3px #fff,
    0 0 0 6px #1d1e20;
  outline: 0;
}
