// Colors
// -----------------------------------------------------------------------------
// Change the color variables once at the top, or change elements individually
// below. Colors are typically Hex values, or one of 140 standard color names/

$black: #000000;
$off-black: #333333;
$gray: #cccccc;
$gray-1: #393b3f;
$gray-2: #505354;
$gray-4: #b7b8bd;
$gray-5: #dee0e2;
$white: #ffffff;
$off-white: #eef2f3;
$red: #cf4747;
$blue: #6a8eb8;
$light-yellow: #f9f9a3;
$off-black-semi-transparent: rgba(0, 0, 0, 0.5);
$black-semi-transparent: rgba(0, 0, 0, 0.75);
$rich-black: cmyk(50%, 50%, 50%, 100%);
