// =============================================================================
// V&A Tables
// -----------------------------------------------------------------------------

.quire-page__content .content tbody tr:hover {
  background-color: transparent;
}

.quire-page__content .table-of-contents-list {
  margin-block: 0 !important;

  li.level-0 {
    border-bottom: 1px solid $gray-5;
    margin: 0 !important;
    padding: 20px 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }

    a {
      text-decoration: none !important;
    }
  }

  .table-of-contents-list {
    margin: 0 !important;
    padding: 20px 0 0.5rem;

    li {
      padding: 0 !important;
      margin: 0 0 1rem;

      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }
}
